<!-- salary.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Salary</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .center-container {
            text-align: center;
        }
        img {
            width: 50%;
        }
    </style>
</head>
<body>
    <div class="center-container">
        <img src="/static/1.jpeg" alt="Картинка">
        <h1>{{ username }}'s Salary</h1>
        <p>Salary: ${{ salary }}</p>
        <p>Next Raise Date: {{ next_raise.strftime("%Y-%m-%d") }}</p>
        <a href="/">Go back to login</a>
    </div>
</body>
</html>
