<!-- token.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Token</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .center-container {
            text-align: center;
        }
        img {
            width: 50%;
        }
    </style>
    <script>
        function countdown() {
            var expirationTime = new Date("{{ tokens[token]['expiration_time'] }}").getTime();
            var currentTime = new Date().getTime();
            var timeRemaining = expirationTime - currentTime;

            var minutes = Math.floor((timeRemaining % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((timeRemaining % (1000 * 60)) / 1000);

            document.getElementById("countdown").innerHTML = minutes + "m " + seconds + "s ";

            if (timeRemaining < 0) {
                clearInterval(countdownInterval);
                document.getElementById("countdown").innerHTML = "Token expired";
            }
        }

        var countdownInterval = setInterval(countdown, 1000);
    </script>
</head>
<body>
    <div class="center-container">
        <img src="/static/1.jpeg" alt="Картинка" />
        <h1>Your Token</h1>
        <p>Time remaining: <span id="countdown"></span></p>
        <form action="/salary" method="get">
            <input type="text" name="token" value="{{ token }}">
            <button type="submit">Get Salary</button>
        </form>
        <a href="/">Go back to login</a>
    </div>
</body>
</html>
